= stylesheet_pack_tag 'hello_svelte', media: 'all'
= javascript_pack_tag 'hello_svelte'

/ .container
/   button.btn.btn-primary type="button"
/     | Profile
/     span.badge.bg-danger.ml-2 9
/     span.sr-only unread messages
